body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#dba0af;

font-family: 'Parisienne', cursive;

overflow:hidden;

}

.container{

text-align:center;

}

h1{

font-size:60px;

color:rgb(95, 1, 45);

margin-bottom:20px;

}

p{

font-size:24px;

color:rgb(95, 1, 45);

line-height:1.8;

}

button{

margin-top:30px;

padding:15px 35px;

font-size:20px;

border:none;

border-radius:30px;

cursor:pointer;

background:rgb(255, 151, 199);
color:rgb(95, 1, 45);

transition:0.3s;

}

button:hover{

transform:scale(1.05);

}

.sticker{

position:absolute;

font-size:40px;

animation:float 4s infinite ease-in-out;

}

.sticker1{

top:10%;

left:15%;

}

.sticker2{

top:20%;

right:15%;

}

.sticker3{

bottom:15%;

left:20%;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}