body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#dba0af;

overflow:hidden;

text-align:center;

}

.container{

animation:fadeIn 2s ease;

}

.cake{

width:260px;

animation:floatCake 3s ease-in-out infinite;

}

h1{

font-family:'Parisienne', cursive;

font-size:70px;

color:rgb(95, 1, 45);

margin:10px;

font-weight:normal;

}

h2{

font-family:'Parisienne', cursive;

font-size:55px;

color:rgb(95, 1, 45);

margin:0;

font-weight:normal;

}

p{

font-size:24px;

color:rgb(95, 1, 45);

letter-spacing:2px;

margin-top:20px;

}

.sparkles{

position:absolute;

top:50px;

font-size:30px;

animation:sparkleFloat 4s infinite ease-in-out;

}

@keyframes floatCake{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}

@keyframes sparkleFloat{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}

}

@keyframes fadeIn{

from{
opacity:0;
}

to{
opacity:1;
}

}
